<section class="scrollSection" id="recall">
    <header><div class="homeIcon" routerLink="/home" onclick=""></div><span>Отзывы</span></header>
    <div class="wrapper">
        <div class="recallBlock" *ngFor="let review of reviews">
            <div class="head">
                <i class="comAvatar"></i>
                <div class="name">{{review.user_name}}</div>
                <div class="date">{{review.date_added | date: "dd.mm.yy в hh:mm"}}</div>
            </div>
            <p>{{review.text}}</p>
            <div class="evaluation">
                <div class="stars disabled">
                    <span *ngFor="let i of [1,2,3,4,5]" [ngClass]="{active: i <= review.rating}"></span>
                </div>
            </div>
        </div>
    </div>
    <footer onclick="">
        <!--<form action="<?=Url::to(['/reviews'])?>" method="create">-->
        <form>
            <div class="evaluation">
                <div class="stars">
                    <ng-template ngFor let-star [ngForOf]="rating">
                        <input [value]="star.value"
                               [checked]="star.active"
                               type="radio"
                               name="star">
                        <span (click)="buildRating(star)"
                              [ngClass]="{active: star.active}"></span>
                    </ng-template>
                </div>
            </div>
            <div class="controls">
                <i class="text-icon"></i>
                <textarea class="comment" placeholder="Ваше сообщение" name="review"></textarea>
                <input success-submit-func="Recall.successRecall" type="submit" class="submit" value="">
            </div>
        </form>
    </footer>
    <script>
        var Recall = {
            hundlers: {
                ".stars--not(.disabled) span:click" : function() {
                    $(this).siblings('span').removeClass('active');
                    $(this).prev().prop('checked', true);
                }, // Управление оценкой(звезды)
                "#recall .comment:focus" : function() {
                    $(this).closest('.controls').addClass('open');
                    $('#recall footer .evaluation').fadeIn();
                },
                "#recall:click"          : function(e){ Recall.hideControls(e); },
            },
            hideControls: function (e) {
                var isFooter = $(e.target).closest('footer').length;
                if( !isFooter ) {
                    var footer = $('#recall footer');
                    footer.find('.controls').removeClass('open');
                    footer.find('.evaluation').fadeOut();
                }
            },
            successRecall: function () {
                $('.comment').val('');
                AppJS.showMessageSection('Спасибо за Ваш отзыв! Он будет опубликован после проверки модератором.');
            },
        }
    </script>
</section>