<section id="whoChoiceFiller" class="whoChoice">
    <header><div class="back" (click)="goBack()"></div><span>Кто выберет<br>наполнитель?</span></header>
    <ul>
        <li routerLink="/choice-services" class="tapEffect">
            <h2>На усмотрение кальянщика</h2>
            <p>Наш кальянщик сам выбирает наполнитель</p>
        </li>
        <li routerLink="/choice-filler" class="tapEffect">
            <h2>Я выберу наполнитель сам</h2>
            <p>Наполнитель выберете лично Вы!</p>
        </li>
    </ul>
    <!--<script>-->
        <!--var WhoChoiceFiller = {-->
            <!--hundlers: {}-->
        <!--}-->
    <!--</script>-->
</section>
