$colorBg: #fff;
$colorOutline: #c6beb8;
$colorOutlineFade: #222a30;

$posMouse: 8px;
$posText: 2px;

$posTrackball: 6px;
$shrinkTrackball: 0.4;
$animDuration: 5s;

@mixin bgGradient {
	background:
		$colorOutlineFade
		linear-gradient(
						transparent 0%,
						transparent 50%,
						$colorOutline 50%,
						$colorOutline 100%
		);
}


.range.ui-slider-vertical .ui-point {
	@include bgGradient;
	position: relative;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	border-radius: 50%;
	background-size: 225%;
	background-color: #e5dbd4;
	display: block;
	animation:
			colorSlide $animDuration linear infinite,
			nudgeMouse $animDuration ease-out infinite;
	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		margin: auto;
	}
	&:before {
		width: 18px;
		height: 18px;
		background-color: $colorBg;
		border-radius: 50%;
	}
	&:after {
		background-color: $colorOutline;
		width: 6px;
		height: 6px;
		border-radius: 100%;
		animation: trackBallSlide $animDuration linear infinite;
	}
}

@keyframes colorSlide {
	0% { background-position: 0% 100%; }
	20% { background-position: 0% 0%; }
	21% { background-color: $colorOutlineFade; }
	29.99% {
		background-color: $colorOutline;
		background-position: 0% 0%;
	}
	30% {
		background-color: $colorOutlineFade;
		background-position: 0% 100%;
	}
	50% { background-position: 0% 0%; }
	51% { background-color: $colorOutlineFade; }
	59.99% {
		background-color: $colorOutline;
		background-position: 0% 0%;
	}
	60% {
		background-color: $colorOutlineFade;
		background-position: 0% 100%;
	}
	80% { background-position: 0% 0%; }
	81% { background-color: $colorOutlineFade; }
	89.99%, 100% { background-color: $colorOutline; }
}

@keyframes trackBallSlide {
	0% {
		opacity: 1;
		transform: scale(1) translateY(-$posTrackball);
	}
	6% {
		opacity: 1;
		transform: scale(0.9) translateY($posTrackball/4);
	}
	14% {
		opacity: 0;
		transform: scale($shrinkTrackball) translateY($posTrackball*2);
	}
	15%, 19% {
		opacity: 0;
		transform: scale($shrinkTrackball) translateY(-$posTrackball);
	}
	28%, 29.99% {
		opacity: 1;
		transform: scale(1) translateY(-$posTrackball);
	}
	30% {
		opacity: 1;
		transform: scale(1) translateY(-$posTrackball);
	}
	36% {
		opacity: 1;
		transform: scale(0.9) translateY($posTrackball/4);
	}
	44% {
		opacity: 0;
		transform: scale($shrinkTrackball) translateY($posTrackball*2);
	}
	45%, 49% {
		opacity: 0;
		transform: scale($shrinkTrackball) translateY(-$posTrackball);
	}
	58%, 59.99% {
		opacity: 1;
		transform: scale(1) translateY(-$posTrackball);
	}
	60% {
		opacity: 1;
		transform: scale(1) translateY(-$posTrackball);
	}
	66% {
		opacity: 1;
		transform: scale(0.9) translateY($posTrackball/4);
	}
	74% {
		opacity: 0;
		transform: scale($shrinkTrackball) translateY($posTrackball*2);
	}
	75%, 79% {
		opacity: 0;
		transform: scale($shrinkTrackball) translateY(-$posTrackball);
	}
	88%, 100% {
		opacity: 1;
		transform: scale(1) translateY(-$posTrackball);
	}
}

@keyframes nudgeMouse {
	0% { transform: translateY(0); }
	20% { transform: translateY($posMouse); }
	30% { transform: translateY(0); }
	50% { transform: translateY($posMouse); }
	60% { transform: translateY(0); }
	80% { transform: translateY($posMouse); }
	90% { transform: translateY(0); }
}

@keyframes nudgeText {
	0% { transform: translateY(0); }
	20% { transform: translateY($posText); }
	30% { transform: translateY(0); }
	50% { transform: translateY($posText); }
	60% { transform: translateY(0); }
	80% { transform: translateY($posText); }
	90% { transform: translateY(0); }
}

@keyframes colorText {
	21% { color: $colorOutlineFade; }
	30% { color: $colorOutline; }
	51% { color: $colorOutlineFade; }
	60% { color: $colorOutline; }
	81% { color: $colorOutlineFade; }
	90% { color: $colorOutline; }
}

#tobaccoRatio{
	$color1: #efe9e5;
	$color2: #f5f1ee;
	$color3: #faf8f7;
	$color4: #fffdfc;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	.rangeBox{
		width: 68%;
		height: 260px;
		background-size: 100%;
		margin: 7vh auto 0;
		position: relative;
		.choice{
			height: 100%;
			width: 100%;
			.tobacco{
				justify-content: center;
				align-items: center;
				flex-direction: column;
				display: flex;
				width: 100%;
				text-align: center;
				font: 15px/12px MyriadProSemibold;
				position: absolute;
				box-sizing: border-box;
				padding: 0 8.2vh 0 8vh;
				p.name{
					font-size: 12px;
					text-transform: none;
				}
				p.percentValue{
					font-size: 3vw;
				}
			}
			.tobacco:nth-child(1){
				background: $color1;
				z-index: 5;
			}
			.tobacco:nth-child(2){
				background: $color2;
				z-index: 4;
			}
			.tobacco:nth-child(3){
				background: $color3;
				z-index: 3;
			}
			.tobacco:nth-child(4){
				background: $color4;
				z-index: 2;
			}
		}
		.range.ui-slider-vertical  {
			position: absolute;
			height: 100%;
			top: 0;
			left: 50%;
			width: 0;
			z-index: 25;
			.ui-slider-handle {
				position: absolute;
				width: 20px;
				height: 20px;
				outline: none;
				left: calc(40vw - 10px);
				margin-bottom: -10px;
				&:nth-child(2) {
					left: calc(-40vw - 10px);
					&:before { right: auto; left: -30vw; }
				}
				&:last-child { background: transparent; display: none; }
				&:before {
					content: '';
					position: absolute;
					width: 150vw;
					right: -30vw;
					height: 1px;
					background: black;
					opacity: 0.1;
					top: 10px;
				}
			}
		}
	}
	img{
		position: absolute;
		width: auto;
		height: calc(100% + 6px);
		top: -3px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
	}
	.method{
		text-align: center;
		margin-top: 4vh;
		height: 18vh;
		p{
			font: 2vh/2vh MyriadProSemibold;
		}
		div{
			font: 2.4vh/2.4vh MyriadProSemibold;
			margin-top: 2vh;
			display: inline-block;
			padding-top: 8vh;
			width: 15vh;
			height: 3vh;
			transition: all linear .1s;
			&.layer{
				background: url(../../../assets/img/domain/layer.svg) no-repeat;
				background-position: center 1vh;
				background-size: 42%;

			}
			&.sector{
				background: url(../../../assets/img/domain/sector.svg) no-repeat;
				background-position: center .7vh;
				background-size: 32%;
			}
			&.mix {
				background: url(../../../assets/img/domain/mix.svg) no-repeat;
				background-position: center .7vh;
				background-size: 32%;
			}
		}
	}
	.strength{
		text-align: center;
		height: 24vw;
		overflow: hidden;
		p{
			margin-top: 5vh;
			font: 2vh/2vh MyriadProSemibold;
		}
		ul{
			overflow: hidden;
			overflow-x: scroll;
			white-space: nowrap;
			margin-top: 2vw;
			li{
				font: 2.4vh/4vh MyriadProSemibold;
				display: inline-block;
				margin: 2vw 4vw;
				height: 18vw;
			}
		}
	}
	.selected{
		text-decoration: underline;
		font: 2.6vh/2.6vh MyriadProSemibold !important;
		background-size: 45% !important;
		background-position: top center !important;
		&.layer {
			background-position: center .7vh !important;
			background-size: 55% !important;
		}
	}
}


@media screen and (min-width: 700px) {
	#tobaccoRatio{
		.selected{
			font: 2.5vh/2.5vh MyriadProSemibold!important;
		}
		.rangeBox {
			height: 410px;
			margin: 2vh auto 0;
			.range.ui-slider-vertical  {
				span {
					width: 30px;
					height: 30px;
					left: calc(40vw - 15px);
					margin-bottom: -15px;
					&:nth-child(2) {
						left: calc(-40vw - 15px);
					}
					&:before {
						top: 15px;
					}
				}
			}
			.choice{
				.tobacco{
					padding: 0 14vh;
					p.name{
						font-size: 20px;
						line-height: 1;
					}
					p.percentValue{
						font-size: 24px;
					}
				}
			}
		}
		.method{
			text-align: center;
			margin-top: 2vh;
			p{
				font: 2.2vh/2.2vh MyriadProSemibold;
			}
			div{
				font: 2.2vh/2.2vh MyriadProSemibold;
				margin-top: 3vh;
				padding-top: 8vh;
				width: 15vh;
				height: 3vh;
			}
		}
		.strength{
			height: 30vw;
			p{
				margin-top: 2vh;
				font: 2.2vh/2.2vh MyriadProSemibold;
			}
			ul{
				margin-top: 3vh;
				li{
					font: 2.2vh/2.2vh MyriadProSemibold;
					margin: 0 1vh;
				}
			}
		}
	}
}

@media screen and (max-width: 700px){
	#tobaccoRatio{
		.selected{
			font: 2.5vh/2.5vh MyriadProSemibold!important;
		}
		.rangeBox{
			width: 70%;
			margin: 2vh auto 0;
			.choice{
				height: 100%;
				width: 100%;
				.tobacco{
					width: 100%;
					font: 15px MyriadProSemibold;
					padding: 0 18vw 0 17vw;
					p.name{
						text-transform: none;
					}
					p.percentValue{
						font-size: 16px;
					}
				}
			}
		}
		.method{
			text-align: center;
			margin-top: 8vh;
			p{
				font: 2.2vh/2.2vh MyriadProSemibold;
			}
			div{
				font: 2.2vh/2.2vh MyriadProSemibold;
				margin-top: 3vh;
				padding-top: 8vh;
				width: 15vh;
				height: 3vh;
			}
		}
		.strength{
			height: 30vw;
			p{
				margin-top: 5vh;
				font: 2.2vh/2.2vh MyriadProSemibold;
			}
			ul{
				margin-top: 3vh;
				li{
					font: 2.2vh/2.2vh MyriadProSemibold;
					margin: 0 1vh;
				}
			}
		}
	}
}

@media screen and (max-height: 680px){
	#tobaccoRatio{
		.selected{
			font: 2.4vh/2.4vh MyriadProSemibold!important;
		}
		.rangeBox{
			.choice{
				height: 100%;
				width: 100%;
				.tobacco{
					width: 100%;
					font: 10px MyriadProSemibold;
					padding: 0 9vh;
				}
			}
		}
		.method{
			text-align: center;
			margin-top: 2vh;
			p{
				font: 2vh/2vh MyriadProSemibold;
			}
			div{
				font: 2.2vh/2.2vh MyriadProSemibold;
				margin-top: 2vh;
				padding-top: 8vh;
				width: 15vh;
				height: 3vh;
			}
		}
		.strength{
			p{
				margin-top: 2vh;
				font: 2vh/2vh MyriadProSemibold;
			}
			ul{
				margin-top: 2vh;
				li{
					font: 2.2vh/2.2vh MyriadProSemibold;
					margin: 0 1vh;
				}
			}
		}
	}
}

@media screen and (max-height: 510px){
	#tobaccoRatio{
		.selected{
			font: 2.4vh/2.4vh MyriadProSemibold !important;
			background-size: 33% !important;
		}
		.method{
			text-align: center;
			margin-top: 2vh;
			p{
				font: 2vh/2vh MyriadProSemibold;
			}
			div{
				font: 2.2vh/2.2vh MyriadProSemibold;
				margin-top: 1vh;
				padding-top: 5vh;
				width: 15vh;
				height: 3vh;
				&.layer{
					background-size: 25%;
				}
				&.sector{
					background-size: 25%;
				}
			}
		}
		.strength{
			p{
				margin-top: 1vh;
				font: 2vh/2vh MyriadProSemibold;
			}
			ul{
				margin-top: 2vh;
				li{
					font: 2.2vh/2.2vh MyriadProSemibold;
					margin: 0 1vh;
				}
			}
		}
	}
}

@media screen and (max-width: 360px){
	#tobaccoRatio{
		.rangeBox {
			height: 235px;
			margin-bottom: 4vw;
			.choice{
				.tobacco {
					p.percentValue {
						font-size: 14px;
					}
				}
			}
		}
	}
}
