<!--<?php-->

<!--/** @var $data */-->
<!--$currency = Yii::$app->session->get('currency') ?? '';-->

<!--?>-->
<section [ngClass]="{cardView: !slideView}" id="choiceBowlLid" class="choiceSectionClass">
    <header><div class="back" (click)="goBack()"></div>
        <span>Выбор<br> накрытия чаши</span>
        <div class="globalPrice">0</div>
    </header>
    <div class="subHeader">
        <div class="sliderOrTile" (click)="switchView()">
            <i [ngClass]="{active: slideView}" class="sliderView"></i>
            <span>/</span>
            <i [ngClass]="{active: !slideView}" class="tileView"></i>
        </div>
    </div>
    <div [ngClass]="{showSlider: showSlider}"
         id="bowlLidSlider"
         class="glide slider productSlider">
        <div class="glide__track js-slide-wrap">
            <div *ngFor="let lid of bowlLids"
                 [ngClass]="{selected: lid.selected}"
                 (click)="choiceBowlLid(lid)"
                 class="glide__slide js-slide">
                <div class="lining"></div>
                <p class="name">{{lid.brand + ' ' + lid.model}}</p>
                <p class="price">{{lid.additional_price + 'грн.'}}</p>
                <div class="boxImg">
                    <img *ngIf="lid.photo" src="./assets/{{lid.photo}}">
                    <ng-template [ngIf]="!lid.photo">
                        <img src="./assets/img/no-photo.svg">
                        <div class="noPhoto">Фото чаши отсутствует</div>
                    </ng-template>
                </div>
                <p class="description">{{lid.description}}</p>
            </div>
        </div>
    </div>
    <footer [ngClass]="{footerUp: selected}" routerLink="/who-choice-hookah">Далее</footer>
    <!--<script>-->
        <!--var bowlLidData = <?= json_encode($data ?? []) ?>;-->

        <!--var ChoiceLid = {-->
            <!--hundlers: {-->
                <!--"#bowlLidSlider .js-slide:click" : function() { AppJS.choiceProduct(this, true); }, // Выбор накрытия-->
            <!--},-->
            <!--ready: function () {-->
                <!--if (ORDER.bowlLid) {-->
                    <!--$('[data-id="'+ ORDER.bowlLid +'"]').addClass('selected');-->
                    <!--$('footer').slideDown(300);-->
                <!--}-->

                <!--var temp = {};-->
                <!--for (var i = 0; i < bowlLidData.length; i++) {-->
                    <!--temp[bowlLidData[i].bowl_lid_id] = bowlLidData[i];-->
                <!--}-->
                <!--bowlLidData = temp;-->
            <!--},-->
            <!--toAPP: function (id, isDelete) {-->
                <!--if (!isDelete) {-->
                    <!--APP.bowlLid.model = bowlLidData[id].model;-->
                    <!--APP.bowlLid.brand = bowlLidData[id].brand;-->
                    <!--APP.prices.bowlLid = +bowlLidData[id].additional_price;-->
                <!--} else {-->
                    <!--APP.bowlLid = {};-->
                    <!--APP.prices.bowlLid = 0;-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--</script>-->
</section>