.swiper-pagination-bullet {background: #d2d2d2;opacity: 1;}
.swiper-pagination-bullet-active {background: #fff;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets{ bottom: 6vh; }