@font-face {
	font-family: 'MyriadProRegular';
	src: url('fonts/MyriadPro/MyriadProRegular.eot');
	src: url('fonts/MyriadPro/MyriadProRegular.eot') format('embedded-opentype'),
	url('fonts/MyriadPro/MyriadProRegular.woff2') format('woff2'),
	url('fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
	url('fonts/MyriadPro/MyriadProRegular.ttf') format('truetype'),
	url('fonts/MyriadPro/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
	font-family: 'MyriadProLight';
	src: url('fonts/MyriadPro/MyriadProLight.eot');
	src: url('fonts/MyriadPro/MyriadProLight.eot') format('embedded-opentype'),
	url('fonts/MyriadPro/MyriadProLight.woff2') format('woff2'),
	url('fonts/MyriadPro/MyriadProLight.woff') format('woff'),
	url('fonts/MyriadPro/MyriadProLight.ttf') format('truetype'),
	url('fonts/MyriadPro/MyriadProLight.svg#MyriadProLight') format('svg');
}
@font-face {
	font-family: 'MyriadProBold';
	src: url('fonts/MyriadPro/MyriadProBold.eot');
	src: url('fonts/MyriadPro/MyriadProBold.eot') format('embedded-opentype'),
	url('fonts/MyriadPro/MyriadProBold.woff2') format('woff2'),
	url('fonts/MyriadPro/MyriadProBold.woff') format('woff'),
	url('fonts/MyriadPro/MyriadProBold.ttf') format('truetype'),
	url('fonts/MyriadPro/MyriadProBold.svg#MyriadProBold') format('svg');
}
@font-face {
	font-family: 'MyriadProSemibold';
	src: url('fonts/MyriadPro/MyriadProSemibold.eot');
	src: url('fonts/MyriadPro/MyriadProSemibold.eot') format('embedded-opentype'),
	url('fonts/MyriadPro/MyriadProSemibold.woff2') format('woff2'),
	url('fonts/MyriadPro/MyriadProSemibold.woff') format('woff'),
	url('fonts/MyriadPro/MyriadProSemibold.ttf') format('truetype'),
	url('fonts/MyriadPro/MyriadProSemibold.svg#MyriadProSemibold') format('svg');
}